<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Apostrophe Sandbox
      {% endblock %}
    </title>
    {% block css %}
      {{ aposStylesheets() }}
    {% endblock %}
    {% block js %}
      {{ aposScripts() }}
    {% endblock %}
  </head>
  <body class="{% block bodyClass %}{%endblock %} {% if edit %}logged-in{% else %}logged-out{% endif %}">
    {% block beforeBody %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script type="text/javascript">
      $(function() {
        {{ aposSetVariables() }}
        apos.enableAreas();
        apos.enablePlayers();
      });
    </script>
    {# Must be present in the page in order to use apos's widget editors, admin dialogs, etc. #}
    {{ aposTemplates() }}
  </body>
</html>
