<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        Apostrophe Sandbox
      {% endblock %}
    </title>
    {% block css %}
      {{ aposStylesheets() }}
      <link href="/css/reset.css" rel="stylesheet" />
      <link href="/css/site.css" rel="stylesheet" />
    {% endblock %}
    {% block js %}
      {{ aposScripts() }}
    {% endblock %}
  </head>
  <body>
    {% block beforeBody %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    <script type="text/javascript">
      $(function() {
        apos.enableAreas();
        apos.enablePlayers();
      });
    </script>
    {# Must be present in the page in order to use apos's widget editors #}
    {{ aposTemplates() }}
  </body>
</html>
