<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {%- block title -%}
        {%- if title -%}
          {# Given to us by the inner layout #}
          {{ title }}
        {%- elif page -%}
          {{ siteTitle }} &ndash; {{ page.title | e }}
        {%- else -%}
          {{ siteTitle }}
        {%- endif -%}
      {%- endblock -%}
    </title>
    {% if seoDescription %}
      <meta name="description" content="{{ seoDescription | e }}" />
    {% elif page and page.seoDescription %}
      <meta name="description" content="{{ page.seoDescription | e }}" />
    {% endif %}

    {# this is a temporary solution to the problem of having #}
    {# @import statements in the middle of minified CSS #}
    {% if not offline %}
      {# import webfonts #}
    {% endif %}

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    {# Passes through whatever was found in the APOS-EXTRA-HEAD comment in the page #}
    {% if extraHead %}
      {{ extraHead }}
    {% endif %}

    {% block css %}
      {{ aposStylesheets(when) }}
    {% endblock %}
    {% block js %}
      {{ aposScripts(when) }}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>
  {# bodyClass should be a block but nunjucks doesn't have conditional extends yet, #}
  {# so we're rendering an inner layout then passing the results to an outer one. #}
  {# We also pull out bodyClass as a special case and pass it in here. #}
  <body class="{{ bodyClass }} {% if user %}logged-in{% else %}logged-out{% endif %}">
    {% block beforeBody %}
    {% endblock %}

    {% block body %}
    {% endblock %}

    {# Must be present in the page in order to use apos's widget editors, admin dialogs, etc. #}
    {{ aposTemplates(when) }}
    <script type="text/javascript">
      {# Set up apos.data properties pushed with apos.pushGlobalData and req.pushData #}
      {# Do not wait around for DOMready as it may be too late for code already waiting #}
      {# for DOMready to see the data #}
      {{ data }}

      $(function() {
        {# Invoke calls set up with apos.pushGlobalCall and req.pushCall #}
        {{ calls }}
      });
    </script>
  </body>
</html>
