{% include 'pageMacros.html' %}
{% include 'components/_index.html' %}
{% include 'svg/_index.html' %}

{# This serves as our base template; it is rendered inside of the 'apos-refreshable' class in outerLayout.html. #}
{# This is where we declare the main blocks that our layout is composed of, e.g. header, main, footer, etc. #}
{# Depending on your needs this is where you would create blocks that you can hook into from other templates, #}
{# e.g. the extraBreadcrumbs block within the breadcrumbs block. #}

{# DO NOT REMOVE THESE COMMENTS. We parse these for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->
<!-- APOS-EXTRA-HEAD {% block extraHead %}{% endblock %} -->
<!-- APOS-SEO-DESCRIPTION {% block seoDescription %}{% endblock %} -->

{% block outer %}
  <div class="off-canvas-container">
    {{ nav(page, {classes: 'off-canvas-nav hide-desktop', logo: true, showChildren: true}) }}
  </div>
{% endblock%}

{% block header %}
  <div class="block top">
      <div class="inner demo-inner">
        <header>
          <div class="demo-header bg-red">
            <h5>{% block headerMessage %}You are using the Apostrophe demo site.{% endblock %}</h5>
            <p>Content in the demo can be edited in context by clicking on the pencil of each content type. Feel free to mess anything up, this page will automatically refresh every hour restoring the original content. If anything seems strange, someone else using the demo site has likely made a change. Check out <a href="http://apostrophenow.org" target="blank">apostrophenow.org</a> for more information.</p>
          </div>
          {{ nav(page, {classes: 'hide-mobile'}) }}
          <a href="#" class="off-canvas-trigger hide-desktop">
            <svg class="a-toolbox">
              <use xlink:href="#a-toolbox" />
            </svg>
          </a>

        </header>
      {% block headerContent %}
      {% endblock %}
    </div>
  </div>
  <div class="block header {% block upperClass %}{% endblock %}">
    {% block headerBackground %}{% endblock %}

  </div>
{% endblock %}

{% block main %}
  {# most content will be just fine sitting within our 'block' class, but we always #}
  {# have the option to override the 'main' block if we want a little more control. #}
  {% block mainContent %}
  {% endblock %}
{% endblock %}

{% block extraContent %}
{% endblock %}

{# notice that this footer uses global areas: if we want editable content to appear #}
{# on every page that inherits this one we want to use the global object instead of #}
{# the page object. #}

{% block footer %}
  <footer class="block footer">
    <div class="inner">
      {% block footerContent %}
        <div class="inline-middle width-50">
          Apostrophe is led by <a href="http://punkave.com">P'unk Avenue</a> in Philadelphia, PA.
        </div>{#
      #}<div class="inline-middle width-50 align-right">
          <a class="inline-top footer-logo" href="http://punkave.com">
            <img src="/images/demo_logo_punk.png" class="" alt="P'unk Avenue" width="150" height="32" />
          </a>
        </div>
      {% endblock %}
    </div>
    <div class="inner">
      <div class="linode-credit">
        Generously hosted by <a href="http://linode.com">linode</a>.
      </div>
    </div>
  </footer>
{% endblock %}
