{# HTML with typical page structure, not necessarily an apostrophe-pages page document #}

{# DO NOT REMOVE. We pull these out for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->

{% block headerNavigationBody %}
  <div class="block header">
    <div class="inner clearfix">
      <a href="/"><div class="logo"></div></a>
      <div class="main-navigation">
        {% block mainNav %}
        {% endblock %}
      </div>
      {% block headerBody %}
      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block hero %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block mainContentBody %}
  <div class="block main-content">
    <div class="inner clearfix">
      {% block main %}

        {% block subNav %}
        {% endblock %}

      {% endblock %}
      {% block mainContent %}

        {% block before %}
        {% endblock %}

      {% endblock %}
    </div>
  </div>
{% endblock %}

{% block footerBody %}
  <footer class="block footer">
    {% block footer %}
    <div class="major">
      <div class="inner clearfix">
        <div class="column">
          {{ aposArea({ slug: 'global:footerContent1', area: global.areas.footerContent1, edit: edit, controls: ['style', 'italic', 'createLink'] }) }}
        </div>
        <div class="column">
          {{ aposArea({ slug: 'global:footerContent2', area: global.areas.footerContent2, edit: edit, controls: ['style', 'italic', 'createLink'] }) }}
        </div>
        <div class="column">
          {{ aposArea({ slug: 'global:footerContent3', area: global.areas.footerContent3, edit: edit, controls: ['style', 'italic', 'createLink'] }) }}
        </div>
      </div>
    </div>
    <div class="minor">
      <div class="inner clearfix">
        <div class="column footer-text">WEBSITES, NOT COFFEE</div>
        <div class="column">
          <div class="footer-logos">
            <a href="http://twitter.com/punkave"><div class="twitter-logo"></div></a>
            <a href="http://punkave.com"><div class="punk-logo"></div></a>
            <a href="http://facebook.com/punkave"><div class="facebook-logo"></div></a>
          </div>
        </div>
        <div class="column footer-text">COPYRIGHT &amp; PRIVACY POLICY</div>
      </div>
    </div>
    {% endblock %}
  </footer>
{% endblock %}