{# HTML with typical page structure, not necessarily an apostrophe-pages page document #}

{# DO NOT REMOVE. We pull these out for outerLayout and refresh operations #}
<!-- APOS-BODY-CLASS {% block bodyClass %}{% endblock %} -->
<!-- APOS-TITLE {% block title %}{% endblock %} -->

<div class="header">
  <div class="inner">
    {% block logo %}

    {% endblock %}

    {% block mainNav %}
    {% endblock %}

    {% block headerBody %}
    {% endblock %}
  </div>
</div>

{% block before %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}


<div class="marquee">

  {% block marquee %}

  {% endblock %}

</div>

<div class="page-wrapper">
  {% block fullWidth %}
  {% endblock %}
  <div class="content">
    <div class="banner">
      {% block banner %}
      {% endblock %}
    </div>

    {% block subnav %}
      <div class="subnav">
      </div>
    {% endblock %}

    <div class="main">
      {% block main %}
      {% endblock %}
    </div>

    <div class="sidebar">
      {% block sidebar %}
      {% endblock %}
    </div>
  </div>
</div>


<footer class="footer">
  {% block footer %}
  <div class="major">
    <div class="inner">
      <div class="tweets">
        {% block footerTwitter %}
          <h5>Recent Tweets</h5>
          {{ aposSingleton({ slug: 'global:tweets', type: 'twitter', area: global.areas.tweets, edit: edit }) }}
        {% endblock %}
      </div>
    </div>

  </div>
  <div class="minor">
    <div class="inner">
      <div class="copyright">
        {% block footerCopyright %}
          © 2012-2013 P'unk Avenue LLC
        {% endblock %}
      </div>
    </div>
  </div>
  {% endblock %}
</footer>

