{% extends "layout.html" %}

{% block title %}
Apostrophe Sandbox: {{ page.title | e }}
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block bodyClass %}apos-page{% endblock %}

{% block mainNav %}
  <ul class="tabs clearfix">
    {% for tab in page.tabs %}
      {% if tab.slug == page.slug %}
        <li class="tab current-page"><a href="{{ tab.url }}">{{ tab.title | e }}</a></li>
      {% else %}
        <li class="tab"><a href="{{ tab.url }}">{{ tab.title | e }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block subnav %}
  <div class="subnav">
    <ol class="children">
    {% for relative in page.children %}
      <li><a href="{{ relative.url }}">{{ relative.title | e }}</a></li>
    {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block headerBody %}
  <!-- <div class="ancestors-clearfix"></div> -->
  {{ super() }}
  {# <h2>{{ page.title | e }}</h2> #}
{% endblock %}

{% block breadcrumbs %}
<div class="block breadcrumb-nav">
  <div class="inner">
    <ol class="breadcrumbs ancestors clearfix">
      {% for relative in page.ancestors %}
        <li><a href="{{ relative.url }}">{{ relative.title | e }}</a>&nbsp;/&nbsp;</li>
      {% endfor %}

      {# Templates for extended URLs of greedy pages (like blog post permalink pages #}
      {# will want to make the greedy page itself a link and add more li's #}
      {% block extraBreadcrumbs %}
      <li>{{ page.title | e }}</li>
      {% endblock %}
    </ol>
  </div>
</div>
{% endblock %}

{% block footer %}
  {# Shared footer, no page URL in the slug #}
  {#{{ aposArea({ slug: 'global:footer', area: global.areas.footer, edit: edit }) }}#}
  {{ super() }}
{% endblock %}
