{% extends "layout.html" %}
{% include "pageMacros.html" %}

{% block title %}
Apostrophe Sandbox: {{ page.title | e }}
{% endblock %}

{% block beforeBody %}
{% endblock %}

{% block bodyClass %}apos-page{% endblock %}

{% block mainNav %}
  <ul class="tabs clearfix">
    {% for tab in page.tabs %}
      {% if tab.slug == page.slug %}
        <li class="tab current-page">{{ pageLink(tab) }}</li>
      {% else %}
        <li class="tab">{{ pageLink(tab) }}</li>
      {% endif %}
    {% endfor %}
  </ul>
{% endblock %}

{% block subnav %}
  <div class="subnav">
    <ol class="children">
    {% for relative in page.children %}
      <li>{{ pageLink(relative) }}</li>
    {% endfor %}
    </ol>
  </div>
{% endblock %}

{% block breadcrumbs %}
<div class="block breadcrumb-nav">
  <div class="inner">
    <ol class="breadcrumbs ancestors clearfix">
      {% for relative in page.ancestors %}
        <li>{{ pageLink(relative) }}&nbsp;/&nbsp;</li>
      {% endfor %}

      {# Templates for extended URLs of greedy pages (like blog post permalink pages #}
      {# will want to make the greedy page itself a link and add more li's #}
      {% block extraBreadcrumbs %}
      <li>{{ pageLink(page, { span: true }) }}</li>
      {% endblock %}
    </ol>
  </div>
</div>
{% endblock %}

{% block footer %}
  {# Shared footer, no page URL in the slug #}
  {#{{ aposArea({ slug: 'global:footer', area: global.areas.footer, edit: edit }) }}#}
  {{ super() }}
{% endblock %}
