{% extends "layout.html" %}

{% block title %}
Apostrophe Sandbox: {{ page.title | e }}
{% endblock %}

{% block beforeBody %}
{{ aposEditPage({ page: page, edit: edit, root: '/' }) }}
{% endblock %}

{% block bodyClass %}apos-page{% endblock %}

{% block headerBody %}
  <ol class="ancestors">
  {% for relative in page.ancestors %}
    <li><a href="{{ relative.url }}">{{ relative.title | e }} &raquo;&nbsp;</a></li>
  {% endfor %}
    <li>{{ page.title | e }}</li>
  </ol>
  <div class="ancestors-clearfix"></div>
  {{ super() }}
  {# <h2>{{ page.title | e }}</h2> #}
{% endblock %}

{% block subnav %}
  <ol class="children">
  {% for relative in page.children %}
    <li><a href="{{ relative.url }}">{{ relative.title | e }}</a></li>
  {% endfor %}
  </ol>
{% endblock %}

{% block footer %}
  {# Shared footer, no page URL in the slug #}
  {{ aposArea({ slug: 'global:footer', area: global.areas.footer, edit: edit }) }}
  {{ super() }}
{% endblock %}
