{# Output an easily styled classic pager, if needed #}
{# ACHTUNG: the math was done pretty carefully to accommodate 5 links in the pager. #}
{# If you want more you'll have to hunt down the right changes. This would be easier #}
{# if 'let' statements really worked in nunjucks. TODO: when they update nunjucks, #}
{# rework this. Also note aposPageRange which is only necessary because range() seems #}
{# busted in this release of nunjucks #}

{% macro renderPager(options, url) %}
  {% if ((options.page > 1) or (options.total > 1)) %}

    <div class="demo-pager">
      {% if pager.page != 1 %}
        <a  class="pager-arrow pager-prev" data-page="{{ page -1 }}" href="{{ url | build(query, { page: pager.page -1 }) }}">Previous</a>
      {% endif %}

      {{ pagerPage(1, options, url) }}
      {% if options.page > 4 %}
        <span class="pager-gap">&hellip;</span>
      {% endif %}

      {% for page in aposPageRange({ page: options.page, total: options.total, shown: 5 }) %}
        {{ pagerPageInner(page, options, url) }}
      {% endfor %}

      {% if options.page < (options.total - 3) %}
        <span class="pager-gap">&hellip;</span>
      {% endif %}
      {{ pagerPage(options.total, options, url) }}

      {% if pager.page != -1 %}
      <a  class="pager-arrow pager-next" data-page="{{ page +1 }}" href="{{ url | build(query, { page: pager.page +1 }) }}">Next</a>
      {% endif %}

    </div>

  {% endif %}
{% endmacro %}

{% macro pagerPageInner(page, options, url) %}
  {% if ((page > 1) and (page < options.total)) %}
    {{ pagerPage(page, options, url) }}
  {% endif %}
{% endmacro %}

{% macro pagerPage(page, options, url) %}
  {% if (page <= options.total) %}
    <span class="pager-number {% if page == 1 %}pager-first{% endif %} {% if page == options.total %}pager-last{% endif %} {% if page == options.page %}pager-active{% endif %}">
      {%- if (options.page != page) -%}
      {# Dual markup for javascript applicatons and plain old links #}
      <a data-page="{{ page }}" href="{{ url | build({ page: page }) }}">
        {%- endif -%}
          {{ page }}
        {%- if (options.page != page) -%}
      </a>
      {%- endif -%}
    </span>
  {% endif %}
{% endmacro %}
