.demo-blog-listing
{
  margin: 2.5rem 0;
}

.blog-listing-image
{
  // margin-right: 5%

  .sticker-red--overlap
  {
    // left: 50%;
  }
}


.blog-listing-info
{
  padding-left: 2%;
  float: right;
}

.blog-listing-excerpt
{
  padding: 1rem 0;
}

.blog-listing-title a
{
  color: @dark;
}

@media screen and @narrow
{
  .demo-pager.align-right
  {
    text-align: center;
  }
  .blog-listing-title a
  {
    padding-top: 0.5rem;
    display: block;
  }
}
