.demo-blog-listing
{
  margin: 2.5rem 0;
}

.blog-listing-image
{
  padding-right: 5%;

  .sticker-red--overlap
  {
    left: 45%;
  }
}


.blog-listing-info
{
  padding-left: 2%;
}

.blog-listing-excerpt
{
  padding: 1rem 0;
}

.blog-listing-title a
{
  color: @dark;
}