.demo-inner
{
  max-width: 1060px;
}

.demo-header
{
  position: relative;

  padding: 2rem 2.5rem;

  line-height: 1.25em;
  color: @white;

  &::before
  {
    position: absolute;
    left: 1rem;
    top: 2.5rem;

    display: block;
    content: "!";
    width: 0.75rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid @white;

    .KarlaBold(@text-medium);
    text-align: center;
  }
}

.demo-nav
{
  position: relative;
  background-color: @white;

  &::after
  {
    position: absolute;
    top: 100%;
    left: 0; right: 0;

    display: block;
    content: '';
    height: 8px;

    background-color: fade(@dark, 20%);
  }

  .nav-item
  {
    .inline-block(top);
    padding: 0.4em 1em;

    & > a
    {
      .inline-block(top);
      padding: 0.1em 0;
      .KarlaBold(@text-small);
      color: @red;

      &.active
      {
        border-bottom: 1px solid @red;
      }
    }
  }
}