.demo-image-sticker
{
  position: relative;
  .inline-block(top);
  max-width: 243px;
  width: 100%;
  .matt-shadow;

  .image-sticker
  {
    position: absolute;
    top: -26px;
    left: 40%;
  }

  .apos-singleton
  {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
  }
}
