.demo-image-sticker
{
  position: relative;
  .inline-block(top);
  max-width: 243px;
  min-height: 220px;
  width: 100%;

  background-color: @white;
  background-image: url('/images/demo_placeholder.png');
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;

  .matt-shadow;

  @media screen and @narrow
  {
    max-width: none;

    margin-top: 2rem;
    &:after {display: none;}
    img
    {
      max-height: 300px;
      opacity: 0;
    }
    .apos-slideshow-item
    {
      background-size: cover;
      background-position: center;
    }
  }

  .image-sticker
  {
    position: absolute;
    top: -1.5rem;
    right: 0;
    left: 0;
    margin: auto;
    height: 3rem;
    width: 3rem;
  }

  .apos-singleton
  {
    width: 100%;
    height: auto;
    margin-bottom: -6px;
  }
}
