.demo-pageheader
{
  max-width: 770px;
  margin: 3rem auto;

  .pageheader-logo
  {
    margin-bottom: 1rem;
  }

  .pageheader-heading
  {
    margin-bottom: 3rem;
    color: @red;
  }

  .pageheader-subheading
  {
    color: @gray;
  }

  .pageheader-body
  {
    color: @dark;
  }

}
