{% macro nav(page, options) %}
	<nav class="demo-nav{% if options.classes%} {{options.classes}}{% endif%}">
		{% if options.logo %}
			<div class="demo-nav-logo">
				<img class="demo-apos-lockup" src="/images/demo_logo_apos_lockup.png" alt="Apostrophe">	
			</div>
			<a href="#" class="demo-nav-close">
				<i class="icon icon-remove"></i>
			</a>
		{% endif %}
	  <ul>
	    <li class="nav-item">
	      <a href="/" {% if page.slug == '/' %}class="active"{% endif %}>Home</a>
	    </li>
	    {% for item in page.tabs %}
	      <li class="nav-item">
	        <a href="{{ item.url }}" {% if page.slug == item.slug %}class="active"{% endif %}>{{ item.title }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</nav>
{% endmacro %}