{% extends "layout.html" %}
{% include "pageMacros.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{% block mainContent %}

  <div class="column">

    {# let's show a subnav, but only if this page has children #}
    {% if page.children.length %}
        {% block subNav %}
          <div class="column-element">
            <div class="subnavigation">
              <h4>Subpages</h4>
              <ol class="default-subpages">
              {% for relative in page.children %}
                <li>{{ pageLink(relative) }}</li>
              {% endfor %}
              </ol>
            </div>
          </div>
        {% endblock %}
    {% endif %}

    <div class="column-element apos-area-sidebar">
      {{ aposArea({ slug: slug + ":content1", area: page.areas.content1, edit: edit }) }}
    </div>

  </div>

  <div class="column-2 default-content-area">
    {# we're going to enable extraFields here so that an image within the area can have a title and a description. #}
    {{ aposArea({ slug: slug + ':content2', area: page.areas.content2, edit:edit, slideshow: { extraFields: true, noHeight: true, userOptions: { orientation: { select: true, defaultOption: 'square' } } } }) }}
  </div>
  </div>

{% endblock %}
