{% extends "layout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# breadcrumbs are excluded from the homepage #}
{% block breadcrumbs %}
{% endblock %}

{% block hero %}
  <div class="block hero">
    <div class="inner">
      <div class="hero-text">
        {# <h3>APOSTROPHE</h3>
        <h4>This is the sandbox! Feel free to log in, play around, and see what it can do.</h4>
        {% if demo %}
          <h4><em>This demo resets at the top of the hour.</em></h4>
        {% endif %} #}
        {{ aposArea({ slug: slug + ':hero', textOnly: true, area: page.areas.hero, edit: edit, controls: [ 'style', 'bold', 'italic'], styles: [ { value: 'div', label: 'Normal' }, { value: 'h3', label: 'Heading 3' }, { value: 'h4', label: 'Heading 4' } ] }) }}
      </div>
    </div>
  </div>
{% endblock %}

{% block mainContent %}
  <div class="column main-content-column">
    <div class="column-element">
      {{ aposSingleton({ slug: slug + ':image1', area: page.areas.image1, edit:edit, type: 'slideshow', aspectRatio: [2, 1], noHeight: true }) }}
    </div>
    <div class="column-element">
      {{ aposArea({ slug: slug + ':content1', area: page.areas.content1, edit:edit, textOnly: true, controls: ['style', 'bold', 'italic'], styles: [ { value:'div', label: 'Normal' }, { value: 'h4', label: 'Heading' } ] }) }}
    </div>
  </div>
  <div class="column main-content-column">
    <div class="column-element">
      {{ aposSingleton({ slug: slug + ':image2', area: page.areas.image2, edit:edit, type: 'slideshow', aspectRatio: [2, 1], noHeight: true }) }}
    </div>
    <div class="column-element">
      {{ aposArea({ slug: slug + ':content2', textOnly: true, area: page.areas.content2, edit:edit, controls: ['style', 'bold', 'italic'], styles: [ { value:'div', label: 'Normal' }, { value: 'h4', label: 'Heading' } ] }) }}
    </div>
  </div>
  <div class="column main-content-column">
    <div class="column-element">
      {{ aposSingleton({ slug: slug + ':image3', area: page.areas.image3, edit:edit, type: 'slideshow', aspectRatio: [2, 1], noHeight: true }) }}
    </div>
    <div class="column-element">
      {{ aposArea({ slug: slug + ':content3', textOnly: true, area: page.areas.content3, edit:edit, controls: ['style', 'bold', 'italic'], styles: [ { value:'div', label: 'Normal' }, { value: 'h4', label: 'Heading' } ] }) }}
    </div>
  </div>

{% endblock %}
