{% extends "pageLayout.html" %}

{% block bodyClass %}{{ super() }} home-page{% endblock %}

{# Output the current content of the page, with buttons to edit it #}

  {# Demonstrate how to test for an empty area #}
  {% if (not edit) and aposAreaIsEmpty({ area: page.areas.main }) %}
    <p>No one has entered content here yet.</p>
  {% endif %}

{# subnav is excluded from the homepage #}
{% block subnav %}
{% endblock %}

{% block sidebar %}
  {# A regular free-form area follows, but with a restricted set of allowed types #}
  {{ aposArea({ slug: slug + ':sidebar', area: page.areas.sidebar, edit: edit, controls: [ 'style', 'bold', 'italic', 'createLink', 'image', 'video' ] }) }}

{% endblock %}

{% block main %}

  {# Demonstrate singletons: areas that must feature one and only one #}
  {# widget of a specified type #}

  {# Demonstrate how to test for an empty singleton #}
  {% if (not edit) and aposSingletonIsEmpty({ area: page.areas.sidebarVideo, type: 'video' }) %}
    <p>No one has selected a featured video yet.</p>
  {% else %}
    <h4>Featured Video</h4>
    {{ aposSingleton({ slug: slug + ':sidebarVideo', type: 'video', area: page.areas.sidebarVideo, edit: edit }) }}  
  {% endif %}

  {{ aposArea({ slug: slug + ':main', area: page.areas.main, edit: edit }) }}
{% endblock %}

