{% extends "layout.html" %}

{% block main %}
  <div class="block marquee">

    {{ aposSingleton(page, 'marquee', 'marquee', { aspectRatio: [2, 1], widgetClass: 'my-fancy-marquee' , extraFields: {credit: false, altTag: false} }) }}

  </div>
  <div class="block large-slideshow-content-area">
    <div class="inner one-column-area">
      {{ aposArea(
        page,
        'content',
        {
          controls: ['style', 'bold', 'italic', 'createLink', 'unlink', 'slideshow', 'insertUnorderedList' ],
          slideshow: {
            userOptions: {
              orientation: {
                active: true,
                defaultOption: 'landscape'
              }
            }
          }
        }
      ) }}
    </div>
  </div>
{% endblock %}
