{% extends 'layout.html' %}

{% block mainContent %}
  <div class="block">
    <div class="inner">
      <h1>This is an h1</h1>
      <h2>This is an h2</h2>
      <h3>This is an h3</h3>
      <h4>This is an h4</h4>
      <h5>This is an h5</h5>
      <h6>This is an h6</h6>
      <p>This is a p tag. This is a <a href="/">link</a>, <strong>this is strong</strong>, and <em>this is em</em>.</p>
    </div>
  </div>

  <div class="block">
    <div class="inner">
      <div class="demo-pageheader">
        <img class="demo-apos-lockup pageheader-logo" src="/images/demo_logo_apos_lockup.png" alt="Apostrophe">
        <h2 class="pageheader-heading">A dinosaur is a fan's transport. Clovered expansions show us how teeths can be creeks.</h2>
        <p class="pageheader-body">In ancient times the downstream swan reveals itself as a wicked building to those who look. A squash is the connection of a cirrus. One cannot separate panthers from peeling forks. Servants are lumpen athletes.</p>
      </div>
    </div>
  </div>

  <div class="block">
    <div class="inner">
      <div class="demo-pageheader">
        <div class="column width-50">
          <h2 class="pageheader-heading">The First Anaste.</h2>
          <h4 class="pageheader-subheading">The garage is, in it's own way, a land.</h4>
        </div>
        <div class="column width-50 align-right">
          <div class="demo-image-sticker">
            {{ aposSingleton(page, 'sticker', 'slideshow', { filter: false, limit: 1, aspectRatio: [1, 1] }) }}
            <img class="demo-apos-shadow image-sticker" src="/images/demo_logo_apos_shadow.png" alt="Apostrophe">
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
