.default-page
{
	@media screen and @narrow
	{
		.demo-pageheader
		{
			margin-top: 7rem;
			margin-bottom: 0;

			.page-title
			{
				position: relative;
				margin-top: -4.6rem;
				max-width: 70%;
				color: @dark;
			}
		}
		.demo-subnav
		{
			width: 100%;
			padding-right: 0;
		}
		.demo-main
		{
			width: 100%;
			padding-right: 0;
		}
		.top { padding-bottom: 0;}
		.content.block{ padding-top: 0;}
	}
}