.transition(@props)
{
  -moz-transition: @props;
  -webkit-transition: @props;
  -ms-transition: @props;
  -o-transition: @props;
  transition: @props;
}

.inline-block(@valign)
{
  display: inline-block;
  vertical-align: @valign;
}