{% macro nav(data, options) %}
	<nav class="demo-nav{% if options.classes%} {{options.classes}}{% endif%}">
		{% if options.logo %}
			<div class="demo-nav-logo">
				<img class="demo-apos-lockup" src="/images/demo_logo_apos_lockup.png" alt="Apostrophe">
			</div>
			<a href="#" class="demo-nav-close">
				<i class="icon icon-remove"></i>
			</a>
		{% endif %}
	  <ul>
	    <li class="nav-item">
	    	{% if not data.page._ancestors.length %}
	    		<a href="{{ data.home._url }}" class="active">{{ data.home.title }}</a>
	    	{% else %}
	      	<a href="{{ data.home._url }}" {% if page.slug == '/' %}class="active"{% endif %}>{{ data.home.title }}</a>
	      {% endif %}
	    </li>
	    {% for tab in data.home._children %}
	      <li class="nav-item">
	        <a href="{{ tab._url }}" class="{% if tab._id == data.page._id %}active{% endif %}">{{ tab.title }}</a>
	      </li>
	    {% endfor %}
	  </ul>
	</nav>
{% endmacro %}
